<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<p><%= title %></p>
<form action="/" method="post">
    
    <label for="fname">숫자1:</label>
    <input type="number" name="number1"><br><br>
    <label for="fname">숫자2:</label>
    <input type="number" name="number2"><br><br>
    

        <input type="submit" value="+" name ="operator">

        <input type="submit" value="-" name ="operator">

        <input type="submit" value="*" name ="operator">

        <input type="submit" value="/" name ="operator">


</form>
</body>
</html>

